{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow">
            <div class="card-body">

                <h3 class="mb-4 text-center">Cadastro de Usuário</h3>

                {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
                {% endif %}

                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Usuário</label>
                        {{ form.username }}
                    </div>

                    <div class="mb-3">
                        <label>Email</label>
                        {{ form.email }}
                    </div>

                    <div class="mb-3">
                        <label>Senha</label>
                        {{ form.password1 }}
                    </div>

                    <div class="mb-3">
                        <label>Confirmar Senha</label>
                        {{ form.password2 }}
                    </div>

                    <button class="btn btn-primary w-100">
                        Criar Conta
                    </button>

                </form>

            </div>
        </div>

    </div>
</div>

{% endblock %}